// :root {
//     --background1: #00c8ff;
//     --background2: #b300ff;
//     --glassColor: #000000;
//     --color: #ffffff;
//     --opacity: 0.4;

//     --background: linear-gradient(220deg, var(--background1) 5%, var(--background2) 90%) fixed;
//     --glass: rgba(#{str-slice(var(--glassColor), -6, -4)}, #{str-slice(var(--glassColor), -4, -2)}, #{str-slice(var(--glassColor), -2)}, 0.5); // Use opacity directly here
//     --glassOpacity: 50%;
// }
// :root {
//     --background-dark: #151515;
//     --color: #b7b4b4;
//     --color-dark: #342d34;
//     --opacity: 0.4;
//     --background: #1d1b1b;
//     --scroll-color: #fff5;
// }

// :root {
//     --background-dark: #c2c2c2;
//     --color: #483131;
//     --color-dark: #c1c1c1;
//     --opacity: 0.4;
//     --background: #ededed;
//     --scroll-color: #d0d0d0;
// }

@import "./dark-theme.scss";
@import "./light-theme.scss";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
    overflow: hidden;
    background: var(--background);
}

body,
button,
p,
input {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    color: var(--color);
    -webkit-font-smoothing: antialiased !important;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button,
input {
    border-radius: 0.75rem;
    border: none;
    outline: none;
    background: var(--background);
    filter: brightness(1.05);
}

header,
footer {
    filter: brightness(1.2);
}

button {
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    filter: brightness(1.5);
    font-weight: bold;
}

ul {
    list-style: none;
}