@import "./dark-theme.scss";
@import "./light-theme.scss";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
    overflow: hidden;
    background: var(--background);
}

body,
button,
p,
input {
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    color: var(--color);
    -webkit-font-smoothing: antialiased !important;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

button,
input {
    border-radius: 0.75rem;
    border: none;
    outline: none;
    background: var(--background);
    filter: brightness(1.05);
}

header,
footer {
    filter: brightness(1.2);
}

button {
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    filter: brightness(1.5);
    font-weight: bold;
}

ul {
    list-style: none;
}