.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0 5px;
    text-align: center;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        text-transform: uppercase;

        background: var(--background);
        border-radius: 15px 15px 0 0;
        padding: 20px;

        button {
            display: flex;
            background: none;
            border: none;
        }
    }

    footer {
        height: 10px;
        border-radius: 0 0 15px 15px;

        background: var(--background);

        ;
    }

    .Box {
        max-width: 550px;
        width: 500px;
        border-radius: 15px;

        .fetchError {
            color: red;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px 0 30px;
            position: relative;

            button {
                text-transform: uppercase;
                padding: 8px 20px;
                font-size: 18px;
            }

            .signUpBtn {
                position: absolute;
                left: 0px;
                background: transparent;
                text-transform: lowercase;
                font-size: 16px;
            }
        }
    }

}